<div id="<%= dom_id poem %>">
  <p>
    <strong><%= t('views.posts.form.title') %></strong>
    <%= poem.title %>
  </p>

  <p>
    <strong><%= t('views.posts.form.aroma') %></strong>
    <%= poem.aroma %>
  </p>

  <p>
    <strong><%= t('views.posts.form.location') %></strong>
    <%= poem.location %>
  </p>

  <p>
    <strong><%= t('views.posts.form.content') %></strong>
    <%= poem.content %>
  </p>

  <p>
    <strong><%= t('views.posts.form.user') %></strong>
    <%= poem.user.user_name %>
  </p>

</div>
