<div id="<%= dom_id poem %>">
  <p>
    <strong>Title:</strong>
    <%= poem.title %>
  </p>

  <p>
    <strong>Aroma:</strong>
    <%= poem.aroma %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= poem.location %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= poem.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= poem.user_id %>
  </p>

</div>
