<div id="<%= dom_id poem %>">
  <p>
    <strong>タイトル:</strong>
    <%= poem.title %>
  </p>

  <p>
    <strong>香りの種類:</strong>
    <%= poem.aroma %>
  </p>

  <p>
    <strong>場所:</strong>
    <%= poem.location %>
  </p>

  <p>
    <strong>ポエムの内容:</strong>
    <%= poem.content %>
  </p>

  <p>
    <strong>ユーザーネーム:</strong>
    <%= poem.user.user_name %>
  </p>

</div>
