<h1><%= t('views.posts.index.title') %></h1>

<% if user_signed_in? %>
  <%= link_to t('views.shared.header.new_post'), new_poem_path, class: "btn btn-primary" %>
<% end %>

<div class="container mt-4">
  <div class="row">
    <% @poems.each_with_index do |poem, index| %>
      <div class="col-md-12 mb-4">

        <div class="card shadow-sm">
          <div class="card-body">
            <div class="poem-content">
              <h4 class="display-4 text-center"><%= poem.content %></h4>
            </div>
            <div class="poem-details mt-3">

              <h5 class="text-left">
                <%= link_to poem.title, poem_path(poem) %>

                <% if current_user == poem.user %>
                <!-- 編集アイコン -->
                <%= link_to edit_poem_path(poem), class: "btn-sm ml-2", title: t('views.defaults.edit') do %>
                  <i class="bi bi-pencil-fill"></i>
                <% end %>

                <!-- 削除アイコン -->
                <%= link_to poem_path(poem), id: "button-delete-#{poem.id}", data: { turbo_method: :delete, turbo_confirm: t('views.defaults.delete_confirm') }, class: "btn-sm ml-2", title: t('views.defaults.delete') do %>
                  <i class="bi bi-trash-fill"></i>
                <% end %>
              <% end %>
              </h5>

              <p class="text-muted text-left"><%= t('views.posts.index.aroma') %>: <%= poem.aroma %></p>
              <p class="text-muted text-left"><%= t('views.posts.index.location') %>: <%= poem.location %></p>
              <p class="text-muted text-left"><%= t('views.posts.index.author') %>: <%= poem.user.user_name %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>