
<%= render @poem %>

<div>
  <% if user_signed_in? %>
    <% if current_user == @poem.user %>
      <%= link_to edit_poem_path(@poem) do %>
        <i class="bi bi-pencil-fill"></i> <%= t('views.posts.show.edit') %>
      <% end %>

      <%= link_to poem_path(@poem), id: "button-delete-#{@poem.id}", data: { turbo_method: :delete, turbo_confirm: t('views.defaults.delete_confirm') } do %>
        <i class="bi bi-trash-fill"></i> <%= t('views.defaults.delete') %>
      <% end %>
    <% else %>
    <% end %>

    <div>
      <%= link_to t('views.defaults.back'), poems_path %>
    </div>
  <% end %>
</div>
